{% load static %}
{% load custom_notification_tag %}
<!Doctype html>
<html class="no-js" lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>:: Django Bugzilla</title>
    
    <link rel="stylesheet" href="{% static 'assets/css/my-task.style.min.css' %}">
</head>
<body>

<div id="mytask-layout" class="theme-indigo">
    
    <!-- sidebar -->
    <div class="sidebar px-4 py-4 py-md-5 me-0">
        <div class="d-flex flex-column h-100">
            <a href="#" class="mb-0 brand-icon">
                <span class="logo-icon">
                    <svg  width="35" height="35" fill="currentColor" class="bi bi-clipboard-check" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M10.854 7.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 9.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
                        <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/>
                        <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"/>
                    </svg>
                </span>
                {% if user.is_superuser or user.is_project_manager or user.is_developer %}
                    <span class="logo-text"><a class="text-white" href="{% url 'project:project_home' %}">DJANGO BUGZILLA</a></span>
                {% else %}
                    <span class="logo-text"><a class="text-white" href="{% url 'ticket:ticket_home' %}">DJANGO
                        BUGZILLA</a></span>
                {% endif %}
            </a>
            <!-- Menu: main ul -->

            <ul class="menu-list flex-grow-1 mt-5">
                {% if user.is_project_manager or user.is_superuser or user.is_developer %}
                    <li> <a class="m-link active" href="#"> <i class="icofont-home fs-5"></i> <span>Dashboard</span> </a>
                {% endif %}
                <li> <a class="m-link" href="{% url 'ticket:ticket_home' %}"><i class="icofont-ticket"></i> <span>Tickets</span> </a>

                {% if user.is_project_manager or user.is_superuser or user.is_developer %}
                    <li  class="collapsed">
                        <a class="m-link"  data-bs-toggle="collapse" data-bs-target="#project-Components" href="#">
                            <i class="icofont-briefcase"></i><span>Projects</span> <span class="arrow icofont-dotted-down ms-auto text-end fs-5"></span></a>
                        <!-- Menu: Sub menu ul -->
                        <ul class="sub-menu collapse" id="project-Components">
                            <li><a class="ms-link" href="{% url 'project:project_home' %}"><span>Projects</span></a></li>
                            <li><a class="ms-link" href="{% url 'core:task' %}"><span>Tasks</span></a></li>
                        </ul>
                    </li>
                {% endif %}
                {% if user.is_project_manager or user.is_superuser %}
                        <li class="collapsed">
                            <a class="m-link" data-bs-toggle="collapse" data-bs-target="#emp-Components" href="#"><i
                                    class="icofont-users-alt-5"></i> <span>Team</span> <span class="arrow icofont-dotted-down ms-auto text-end fs-5"></span></a>
                            <!-- Menu: Sub menu ul -->
                            <ul class="sub-menu collapse" id="emp-Components">
                                <li><a class="ms-link" href="#"> <span>Administrator</span></a></li>
                                <li><a class="ms-link" href="#"> <span>Project Manager</span></a></li>
                                <li><a class="ms-link" href="#"> <span>Developer</span></a></li>
                                <li><a class="ms-link" href="#"> <span>Submitter</span></a></li>
                            </ul>
                        </li>
                        <li> <a class="m-link" href="{% url 'roles_home' %}"><i class="icofont-user-alt-5"></i> <span>Roles</span> </a>
                {% endif %}
                <li>
                    <a class="m-link" href="{% url 'logout' %}"><i class="icofont-logout fs-6"></i> <span>Signout</span></a>
  
                </li>
            </ul>
        </div>
    </div>

    <!-- main body area -->
    <div class="main px-lg-4 px-md-4">

        <!-- Body: Header -->
        <div class="header">
            <nav class="navbar py-4">
                <div class="container-xxl">
    
                    <!-- header rightbar icon -->
                    <div class="h-right d-flex align-items-center mr-5 mr-lg-0 order-1">
                        {% if request.user.is_authenticated %}
                        <div class="d-flex">
                        </div>
                        <div class="dropdown notifications zindex-popover">
                            <a class="nav-link dropdown-toggle pulse ml-5" href="#" role="button" data-bs-toggle="dropdown">
                               
                                <i class="icofont-alarm  fs-5"></i>
                                    <span class="pulse-ring"></span>
                              
                            </a>
                            <div id="NotificationsDiv" class="dropdown-menu rounded-lg shadow border-0 dropdown-animation dropdown-menu-sm-end p-0 m-0">
                            {% show_notifications %}


                            </div>
                        </div>
                        <div class="dropdown user-profile ml-2 ml-sm-3 d-flex align-items-center zindex-popover">
                            <div class="u-info me-2">
                                <p class="mb-0 text-end line-height-sm "><span class="font-weight-bold">{{ request.user }}</span></p>
        
                            </div>
                            
                            
                        </div>
                        {% endif %}
                    </div>
    
                    <!-- menu toggler -->
                <button class="navbar-toggler p-0 border-0 menu-toggle order-3" type="button" data-bs-toggle="collapse"
                    data-bs-target="#mainHeader">
                    <span class="fa fa-bars"></span>
                </button>
                    
                
                    <div class="order-0 col-lg-4 col-md-4 col-sm-12 col-12 mb-3 ms-4 mb-md-0">
                        <!-- <div class="input-group flex-nowrap input-group-lg">
                            <button type="button" class="input-group-text" id="addon-wrapping"><i class="fa fa-search"></i></button>
                            <input type="search" class="form-control" placeholder="Search" aria-label="search" aria-describedby="addon-wrapping">
                            <button type="button" class="input-group-text add-member-top" id="addon-wrappingone" data-bs-toggle="modal" data-bs-target="#addUser"><i class="fa fa-plus"></i></button>
                        </div> -->
                        
                        <div class="input-group flex-nowrap input-group-sm">
                            <!-- <button type="button" class="input-group-text" id="addon-wrapping"><i class="fa fa-search"></i></button> -->
                            <!-- <input type="search" class="form-control" placeholder="Search" aria-label="search" 
                                aria-describedby="addon-wrapping">-->
                            {% if user.is_project_manager or user.is_superuser or user.is_developer %}
                                <button class="btn btn-primary" data-bs-dismiss="modal"><a class="text-white"
                                    href="{% url 'project:project_home' %}">home</a></button>
                            {% else %}
                                <button class="btn btn-primary" data-bs-dismiss="modal"><a class="text-white"
                                        href="{% url 'ticket:ticket_home' %}">home</a></button>
                            {% endif %}
                        </div>
                    </div> 
    
                </div>
            </nav>
        </div>

        <!-- Body: Body -->
       {% block content %}
       {% endblock content %}

        <!-- Modal Members--> 
    </div>
</div>

<!-- Jquery Core Js -->
<script src="{% static 'assets/bundles/libscripts.bundle.js' %}"></script>

<!-- Plugin Js-->
<script src="{% static 'assets/bundles/apexcharts.bundle.js' %}"></script>
<script src="{% static 'assets/bundles/dataTables.bundle.js' %}"></script>

<!-- Jquery Page Js -->
<script src="{% static 'js/template.js' %}"></script>
<script src="{% static 'js/page/hr.js' %}"></script>
</body>
</html> 
