{% extends 'core/base.html' %}
{% load static %}
<!-- sidebar -->
{% block content %}

<!-- main body area -->
<div class="main px-lg-4 px-md-4">
    <div>
        <div class="modal-dialog modal-dialog-centered modal-md modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title  fw-bold" id="edittickitLabel">Edit Task</h5>
                </div>
                <div class="modal-body">
                    <div class="deadline-form">
                        <form method="POST" action="">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <div class="modal-footer">
                                <button class="btn btn-secondary" data-bs-dismiss="modal"><a class="text-white"
                                        href="{% url 'core:task_detail' object.pk %}">cancel</a></button>
                                <button type="submit" class="btn btn-primary">edit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock content %}